@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  box-sizing: border-box;
}

header {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(to right top, #9eb3d3, #8dcae1, #8ededc, #aeeeca, #e4f8b8);
  background-repeat: no-repeat;
}

.page-title {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}

.search-form {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-form input {
  height: 50px;
  width: 320px;
  fill-opacity: 1;
  border: none;
  overflow: hidden;
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBtn {
  position: absolute;
  height: 50px;
  width: 40px;
  fill-opacity: 1;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  border: none;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: rgb(29, 26, 26);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  grid-gap: 20px;
  justify-content: center;
  padding: 0 15px 15px 15px;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 30px;
}

.photo-card__items:hover {
  transform: scale(1.03);
  transition: 300ms;
}

.photo-card__items {
  height: 100%;
  position: relative;
  border-radius: 11px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.photo-card__items figure {
  width: 100%;
  padding: 0;
  margin: 0;
}

.photo-card__items figcaption {
  height: 100%;
  width: 100%;
}

.photo-card__image {
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  font-size: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 11px;
  justify-content: center;
}

.info-item,
b {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-more {
  margin: 0 auto 0px auto;
  padding: 10px 10px;
  border-radius: 4px;
  opacity: 90%;
}

.load-more:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: 300ms;
}

.load-more-footer {
  background-image: linear-gradient(to right top, #9eb3d3, #8dcae1, #8ededc, #aeeeca, #e4f8b8);
  background-repeat: no-repeat;
  padding: 10px 0;
}

.scrollTopButton {
  width: 64px;
  height: 64px;
  position: fixed;
  z-index: 99999999;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  opacity: 50%;
  cursor: pointer;
}

.information {
  display: none;
}

.loadModeBtn {
  position: absolute;
  left: 30px;
  border: none;
  height: 40px;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */